[Unit]
After=systemd-user-sessions.service

[Service]
Restart=always
RestartSec=90
StartLimitInterval=10
StartLimitBurst=3
ExecStart=/bin/su xorg -l -c /usr/bin/xinit -- VT08

[Install]
WantedBy=multi-user.target
